*{
  margin: 0;
  padding: 0;
  /* background-color: #d8deed; */
}

.headertext span{
  font-family: 'Spectral', serif;
  font-size: 40px;
  font-style: italic;
  /* border-bottom: 1px solid #d8deed; */
}

.border-bottom{
  border-bottom: 1px solid #d8deed;
}

.fs-13{
  font-size: 13px;
}

.headercolor{
  background-color: #eaf0ff;
}

.nav-link{
  color: rgb(33, 33, 33);
}

.nav-link:hover{
  color: #f2745f;
}

.btn-danger{
  background-color: #f2745f;
}

.btn-light{
  color: #f2745f;
}

.btn-light:hover{
  color: #f2745f;
}

.featuredfoodbox .card{
  border-radius: 0%;
  border: none;
}

.featuredfoodbox .card img{
  border-radius: 0%;
}

.ourblogpostbox{
  background-color: #f2f6ff;
}

.footericons a{
  text-decoration: none;
  color: #363e50;
  margin: 8px;
}

.footericons a i{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}